html {
    height: 100%;
}

body {
    padding-top: 54px;
    height: 100%;
}

.my-body-wrapper {
    position: relative;
    min-height: 100%;
}

.my-body-content {
    padding-bottom: 80px;
    /*height: 100%;*/
}

.my-footer {
    position: absolute;
    bottom: 0px;
    height: 32px;
    margin-top: 16px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 48px;
    font-size: smaller;
}

.my-card-img-top {
    max-height: 230px !important;
    width: auto !important;
}

.my-img-product-list-thumbnail {
    height: 150px;
}

.my-img-product-list-admin-thumbnail {
    height: 75px;
    /*max-width: 75px;*/
}

.my-img-product-detail-thumbnail {
    max-height: 400px;
    max-width: 100%;
}

.my-img-product-edit-thumbnail {
    height: 50px;
}

.my-btn-wrapper-product-list {
    margin-top: 2px;
    margin-bottom: 2px;
}

.my-data-table {
    width: 100% !important;
    text-align: center;
    font-size: medium;
    /*border-collapse: separate;*/
    /*border-spacing: 0px 32px;*/
}

.my-data-table tr {
    /*box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);*/
}

.my-data-table td {
    vertical-align: middle;
}

.my-breadcrumb-item {
    color: #dddddd !important;
}

.my-breadcrumb-item a {
    color: #ffffff !important;
}

.my-breadcrumb > li+li:before {
    /*padding: 0 5px !important;*/
    color: #cccccc !important;
    content: ">" !important;
}

.my-activate-product-checkbox {
    height: 16px;
    width: 16px;
}

.my-text-grey {
    color: lightgrey;
}

.my-text-red {
    color: red;
}

.my-bg-grey {
    background-color: #777 !important;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
