html {
    height: 100%;
}

body {
    padding-top: 54px;
    height: 100%;
}

.body-wrapper {
    position: relative;
    min-height: 100%;
}

.body-content {
    padding-bottom: 80px;
}

.body-footer {
    position: absolute;
    bottom: 0px;
    height: 32px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 48px;
    background-color: #2e3133;
    font-size: smaller;
}

.my-text-grey {
    color: lightgrey;
}

.my-text-red {
    color: red;
}

.my-data-table {
    text-align: center;
}

.my-data-table td {
    vertical-align: middle;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }


}
